Generate Random Set: Create a set with a specified number of random integers within a certain range.

In [38]:
import random
randset = set()
for i in range(1,10):
    rand = random.randint(i,100)
    randset.add(rand)
randset

{9, 11, 28, 62, 83, 85, 88, 90, 93}

Count Unique Elements: Given a list, determine the count of unique elements using a set.

In [37]:
numofset= len(set(lista))
numofset

2

Remove Duplicates from a List: Given a list, create a set from it to remove duplicates, then convert back to a list.

In [36]:
seta = set(lista)
listafromset = list(seta)
listafromset

[1, 2]

Check Disjoint Sets: Given two sets, check if they have no elements in common.

In [35]:
disjoint = len(a ^ b)
if disjoint == 0:
    print("disjointed")
else:
    print("non disjointed")

non disjointed

Merge and Deduplicate: Given two lists, create a new set that merges both lists and removes duplicates.

In [34]:
lista = [1,2,1,2,1]
listb = [1,6,1,1,5,1,3,74,8]
setnonduplicate = set(lista+listb)
setnonduplicate

{1, 2, 3, 5, 6, 8, 74}

Create a Set of a Range: Create a set of numbers in a specified range (e.g., from 1 to 10).

In [33]:
rangen = set(range(1,11))
rangen

range(1, 20)

Filter Odd Numbers: Given a set of integers, create a new set that contains only the odd numbers.

In [31]:
odda = set()
for l in a:
    if l % 2 != 0:
        odda.add(l)
odda

{3}

Filter Even Numbers: Given a set of integers, create a new set that contains only the even numbers.

In [30]:
evena = set()
for l in a:
    if l % 2 == 0:
        evena.add(l)
evena

{2, 12}

Find Minimum: From a given set of numbers, find the minimum element.

In [28]:
mina = min(a)
mina

2

Find Maximum: From a given set of numbers, find the maximum element.

In [27]:
maxa = max(a)
maxa

12

Pop Element: Given a set, remove and return an arbitrary element from the set.

In [26]:
a.pop()

1

Add Element: Given a set and an element, add the element to the set if it is not already present.

In [24]:
d = 12
if d not in a:
    a.add(d)
a

{1, 2, 3, 12}

Symmetric Difference: Given two sets, create a new set that contains elements that are in either set but not in both.

In [23]:
a = {1,2,1,3}
b = {6,2,1,7}
nonintersect = a ^ b 
nonintersect

{3, 6, 7}

Check if Set is Empty: Determine if a set has any elements.

In [18]:
if len(a)==0:
    print("empty")
else:
    print("non empty")

empty

Clear Set: Create a new empty set from an existing set.

In [17]:
a.clear()
a

set()

Remove Element: Given a set and an element, remove the element if it exists.

In [16]:
a.add(2)
res = a.remove(c)
res

Convert List to Set: Given a list, create a new set that contains only the unique elements from that list.

In [10]:
d = [1,3,4,1,3,1]
setd = set(d)
setd

{1, 3, 4}

Set Length: Determine the number of unique elements in a set.

In [9]:
len(a)

4

Check Element: Given a set and an element, check if the element exists in the set.

In [8]:
c = 2
if c in a:
    print(True)
else :
    print(False)

True

Check Subset: Given two sets, check if one set is a subset of the other.

In [6]:
sub = a.issubset(b)
sub

False

Difference of Sets: Given two sets, create a new set with elements from the first set that are not in the second.

In [5]:
diff = a.difference(b)
diff

{3, 5}

Intersection of Sets: Given two sets, create a new set that contains elements common to both sets.

In [4]:
inter = a.intersection(b)
inter

{1, 2}

Union of Sets: Given two sets, create a new set that contains all unique elements from both sets.

In [3]:
a = {1,2,3,5}
b = {1,2,41,2}
union = a.union(b)
union

{1, 2, 3, 5, 41}